@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.nav-link {
  color: #646cff; 
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease; 
  font-size: 1.8rem
}

.nav-link:hover {
  color: #747bff;
  font-weight: 600; 
}

.nav-link.active {
  color: #747bff; 
  font-weight: bold; 
}
.text-gradient {
  background: linear-gradient(to right, #3b82f6, #9333ea); /* Gradient từ xanh sang tím */
  -webkit-background-clip: text; /* Cắt nền theo văn bản */
  background-clip: text; /* Cắt nền theo văn bản cho các trình duyệt hỗ trợ */
  color: transparent; /* Ẩn màu nền mặc định của văn bản */
}
header {
  background:linear-gradient(45deg, #FFFFFF, #81D4FA); 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
